@media (min-width: 1400px) {}
.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 768px;
}

.tmnts-header-row {
  position: sticky;
  top: 0;
}

.modal-body {  
  white-space: pre-line;
}