.nav-pills .nav-link.active {
  background-color: #cfe2ff;
  color: #000000;
  font-weight: bold;
}

.acdnError > .accordion-button {
  background-color: #fa8282;
}

.objError {
  background-color: #fa8282;
  font-weight: bold;
}
