@media (min-width: 1400px) {}
.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 768px;
}

.nav-pills .nav-link.active {
  background-color: #cfe2ff;
  color: #000000;
  font-weight: bold;
}

.acdnError > .accordion-button {
  background-color: #fa8282;
  color: #000000;
}

.objError {
  background-color: #fa8282;  
  color: #000000;
}

.deleteInput {
  text-align: right;
  border-style: none;
}

.lanes-header-row {
  position: sticky;
  top: 0;
}