/* player bracket progress grid */
.player-brkt-progress-outer {
  width: 100%;
  overflow-x: auto;
  margin-bottom: 10px;
}

.player-brkt-progress-inner {
  width: 100%;
}

.small-table-font {
  font-size: 0.875rem;
}

.bracket-title_backgroud {
  background-color: #08316d;
}