.cellError {
  background-color: rgb(255, 98, 98);
}

.playersHeader {
  background-color: rgb(234, 153, 153);
  font-weight: bold;
}

.divsHeader {
  background-color: rgb(249, 203, 156);
  font-weight: bold;
}

.potsHeader {
  background-color: rgb(255, 229, 153);
  font-weight: bold;
}

.brktsHeader {
  background-color: rgb(182, 215, 168);
  font-weight: bold;
}

.elimsHeader {
  background-color: rgb(164, 194, 244);
  font-weight: bold;
}

.totalHeader {
  background-color: rgb(213, 166, 189);
  font-weight: bold;
}

.noEdit {
  background-color: rgb(232, 232, 232);
}

.toFillHeader {
  background-color: rgb(232, 232, 232);
}